input[type="checkbox"] {
    display: none;
}

.ui-disabled, .ui-state-disabled, button[disabled], .ui-select .ui-btn.ui-state-disabled {
    opacity: .7;
}

.message {
    color: red;
    text-align: center;
}
label.error {
    color: red;
    font-size: larger;
    font-weight: bold;
    margin-top: .5em;
    width: 100%;
    float: none;
}

@media screen and (max-width:28em) {
    label.error {
	margin-left: 0;
	display: block;
    }
}
@media screen and (min-width:28em) {
    label.error {
	display: inline-block;
	margin-left: 23%;
    }
}

.age_range {
    margin-left: 55%;
}
input.ui-slider-input {
    width: 60px;
}
/* body { */
/*     user-select: none; */
/*     -webkit-user-select: none; */
/*     -ms-user-select: none; */
/*     -moz-user-select: none; */
/*     -khtml-user-select: none; */
/*     -webkit-user-drag: none; */
/*     -khtml-user-drag: none; */
/* } */
.bodybody {
    text-align: center;
}
.bodyimg {
    position: relative;
    display: inline-block;
    margin: 20px;
}
.bodyimg input[type="hidden"].part + label {
    position: absolute;
    display: inline-block;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 10px;
    background-color: #aaa;
    text-shadow: 0 0 0;
    font-weight: bold;
}


