.ui-table {
    table-layout: fixed;
}

.ui-table tr {
    border-bottom: 1px solid #eeeeee;
}

.ui-table td, .ui-table th {
//    vertical-align: middle;
    white-space: nowrap;
//    padding: 0px 5px 0px 5px;
}

.ui-table td.rlist_no, .ui-table th.rlist_no {
    width: 2em;
    text-align: right;
    overflow: hidden;
    text-overflow: clip;
    -webkit-text-overflow: clip;
    -o-text-overflow: clip;
}

.ui-table td.rlist_name, .ui-table th.rlist_name {
    width: 7em;
    overflow: hidden;
    text-overflow: clip;
    -webkit-text-overflow: clip;
    -o-text-overflow: clip;
}

.ui-table td.rlist_date, .ui-table th.rlist_date {
    width: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.ui-table td.rlist_kind, .ui-table th.rlist_kind {
    width: 4em;
    overflow: hidden;
    text-overflow: clip;
}
.ui-table td.rlist_part, .ui-table th.rlist_part {
    width: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.ui-table td.rlist_diag, .ui-table th.rlist_diag {
    width: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.ui-table td.rlist_treat, .ui-table th.rlist_treat {
    width: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.ui-disabled, .ui-state-disabled, button[disabled], .ui-select .ui-btn.ui-state-disabled {
    opacity: .8;
}

.ui-content {
    overflow-x: auto;
}

tr.treatment_trainer {
    background-color: #eef;
}
tr.treatment_doctor {
    background-color: #fee;
}
tr.editable {
    color: blue;
}

label.error {
    color: red;
    font-size: larger;
    font-weight: bold;
    margin-top: .5em;
    width: 100%;
    float: none;
}
@media screen and (max-width:28em) {
    label.error {
	margin-left: 0;
	display: block;
    }
}
@media screen and (min-width:28em) {
    label.error {
	display: inline-block;
	margin-left: 23%;
    }
}

td.regimg {
    padding: 10px;
}

.textinput_dw {
    padding: 3px;
    width: 5em;
}

.ui-popup img {
    width: 80vw;
}

.ui-table tr {
    border-bottom: 1px solid #eeeeee;
}

.ui-table td, .ui-table th {
    white-space: nowrap;
}
